<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- meta -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- common css -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<!--[if lt IE 9]>
	  <script src="/javascripts/html5shiv.min.js"></script>
	  <script src="/javascripts/respond.min.js"></script>
	<![endif]-->
	<!-- javascript -->
	<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.extend.js"></script>
	<title>{{title}}</title>
</head>
<body>
	{{{body}}}
</body>
</html>